{% extends 'estudiante/index.html' %}

{% block body %}

  <form method="get" style= "color:black" >
    {{ filter.form.as_p }}
    <button type="submit" style= "color:black" >Buscar</button>
  </form>
{% comment %} 
table-dark invierte los colores de la tabla
table-striped patron de rayado
{% endcomment %}
  <table class="table table-striped table-bordered" style= "color:black">
    <thead>
      <th>Nombre</th>      
      <th>Etapa</th>      
      <th>Año</th>      
      <th>Carrera</th>
      <th>Asignaturas compatibles</th>
    </thead>
    <tbody>
      {% for est in filter.qs %}
      <tr>
        <td>{{ est.user.first_name}} &nbsp;{{ est.user.last_name }} &nbsp;&nbsp;</td> 
        <td>{{ est.etapa}}&nbsp;&nbsp;</td>
        <td>{{ est.anno}}&nbsp;&nbsp;</td>
        <td>{{ est.carrera}}&nbsp;&nbsp;</td>
        <td> {% for a in est.compatible.all %} {{a}}&nbsp;{% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock  %}