{% extends 'user.html' %}
{% block body %}

  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Buscar</button>
  </form>
  <table>
    <thead>
      <th>Nombre</th>      
      <th>Etapa</th>      
      <th>Año</th>      
      <th>Carrera</th>
      <th>Asignaturas compatibles</th>
    </thead>
    <tbody>
      {% for est in filter.qs %}
      <tr>
        <td>{{ est.user.first_name}} {{ est.user.last_name }} </td> 
        <td>{{ est.etapa}}-</td>
        <td>{{ est.anno}}-</td>
        <td>{{ est.carrera}}</td>
        <td> {% for a in est.compatible.all %} {{a}}{% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock  %}