{% extends 'user.html' %}
{% block body %}

  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Buscar</button>
  </form>
  <table>
  {% for obj in filter.qs %}
  <tr>
    <td>{{ obj.estudiante.user.first_name}} &nbsp;&nbsp;</td> 
    <td>{{ obj.estudiante.user.last_name }}&nbsp;&nbsp;</td>
    <td>{{ obj.estudiante.etapa}}&nbsp;&nbsp;</td>
    <td>{{ obj.estudiante.anno}}&nbsp;&nbsp;</td>
    <td>{{ obj.estudiante.carrera}}&nbsp;&nbsp;</td>
    <td> {% for a in obj.estudiante.compatible.all %} {{a}}&nbsp;{% endfor %}&nbsp;&nbsp;</td>
    <td>{{ obj.tutor.user.first_name}} &nbsp;&nbsp; </td> 
    <td>{{ obj.tutor.user.last_name }}&nbsp;&nbsp;</td>
    <td>{{ obj.evaluacion }}&nbsp;&nbsp;</td>
    <td>{{ obj.asignatura }}&nbsp;&nbsp;</td>
    </tr>
  {% endfor %}
  </table>

{% endblock  %}