{% extends 'user.html' %}
{% block body %}
<div class="container">
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Buscar</button>
  </form>
  <table class="table table-bordered">
    <thead>
      <th>Nombre</th>
      <th>Etapa</th>
      <th>Año</th>
      <th>Carrera</th>
    </thead>
    <tbody>
      {% for est in filter.qs %}
      <tr>
        <td>{{ est.user.first_name}}&nbsp;&nbsp; {{ est.user.last_name }}</td> 
        <td>{{ est.etapa}}&nbsp;&nbsp;</td>
        <td>{{ est.anno}}&nbsp;&nbsp;</td>
        <td>{{ est.carrera}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock  %}