{% extends 'user.html' %}

{% block body %}
<div id ="content">
    <div class= "container">
        <div class= "block block-border-bottom">
            <a name= "tabla-de estudiantes"> </a>
            <h2 class= "block-title"> Tabla de estudiantes </h2>  
        <table class = "table table-bordered">
        <thead>
            <tr>
                
                <td> Nombre </td>
                <td> Apellidos </td>
                <td> Etapa </td>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for estudiante in object_list %}
                    <tr> 
                        <td> {{ estudiante.user_ptr.first_name }} </td>
                        <td> {{ estudiante.user_ptr.last_name }} </td>
                        <td> {{ estudiante.etapa }} </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1> No hay estudiantes registrados</h1>
            {%endif%}
            </tbody>
        </table>

        </div>
    </div>
</div>

<div id="content">
    <!-- Tabla de Cobro por etapas -->
	<div class="container">
		<div class="block block-border-bottom">
			<a name="tabla-cobro-por-etapa"></a>
    		<h2 class="block-title">Tabla de Cobro por Etapas</h2>
        <table class="table table-bordered" id="tablacobro">
          <thead>
            <tr>
              <th>Etapa</th>
              <th>Cobro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowcol-md-="2">1</td>
              <td>10.00 M.N.</td>
            </tr>
            <tr class="fila-gris">
              <td>2</td>
              <td>15.00 M.N.</td>
            </tr>
			<tr>
              <td>3</td>
              <td>25.00 M.N.</td>
            </tr>
			<tr class="fila-gris">
              <td>4</td>
              <td>30.00 M.N.</td>
            </tr>
          </tbody>
        </table>
		</div>
	</div>
  </div>
{% endblock%}