  {% extends 'user.html' %}
  {% block body %}

  <div class="container"style= "color:white">
    <div class="block block-border-bottom">
			<a name="planes"></a>
    	<h2 class="block-title">Mis planes de trabajo</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Semestre</th>
			<th>Asignatura</th>
			<th>Nota obtenida</th>
			<th>Plan de trabajo</th>
          </tr>
        </thead>
        <tbody>
		{% if object_list %}
            {% for plan in object_list %}
              <tr> 
                <td> {{ plan.curso }} </td>
                <td> {{ plan.semestre }} </td>
                <td> {{ plan.asignatura }} </td>
                <td> {{ plan.evaluacion }} </td>
                <td> {{ plan.plan }} </td>
              </tr>
            {% endfor %}
          {% else %}
            <h1> No hay planes registrados</h1>
          {%endif%}
        </tbody>
      </table>
		</div>
	</div>
	<!-- PLANES DE TRABAJO end -->
</div>

{% endblock  %}