  {% extends 'estudiante/index.html' %}

  {% block body %}

  <div class="container"style= "color:black">
    <div class="block block-border-bottom">
    	<h2 class="block-title">Mis planes de trabajo</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Semestre</th>
            <th>Asignatura</th>
            <th>Nota obtenida</th>
          </tr>
        </thead>
        <tbody>
		{% if object_list %}
            <a href="{% url 'estudiantes:plan_export' %}" class="col-md-12">Export Data</a>
            {% for plan in object_list %}
              <tr> 
                <td> {{ plan.curso }} </td>
                <td> {{ plan.semestre }} </td>
                <td> {{ plan.asignatura }} </td>
                <td> {{ plan.evaluacion }} </td>
              </tr>
            {% endfor %}
          {% else %}
            <h1> No hay planes registrados</h1>
          {%endif%}
        </tbody>
      </table>
		</div>
	</div>
	<!-- PLANES DE TRABAJO end -->
</div>

{% endblock  %}