{% extends 'user.html' %}

{% block body %}
<div class="panel-body">
<input class="btn btn-md btn-primary btn-block" type="submit" value="Cambiar contraseña" onclick="location.href='{% url 'estudiantes:pass_change' %}'"/>

        </div>
<div class="panel-body">
    <form name="formulario-registro" accept-charset="UTF-8" role="form" method="post">
        {% csrf_token %}
        {{form1.as_p}}
        {{form2.as_p}}
        <input class="btn btn-md btn-primary btn-block" type="submit" value="Confirmar">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock  %}
