{% extends 'user.html' %}

{% block dropdown %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestras opciones<b class="caret"></b></a>
      <!-- Dropdown Menu -->
      <ul class="dropdown-menu">
        <!--<li class="dropdown-header">Our Options</li> -->
        <li><a href="{% url 'estudiantes:estudiante_consulta' %}" tabindex="-1" class="menu-item">Consultar base de datos</a></li>
        <li><a href="#tabla-cobro-por-etapa" tabindex="-1" class="menu-item">Ver tabla de Cobro por etapas</a></li>
				<li><a href="{%url 'estudiantes:plan_est' pk=user.pk%}" tabindex="-1" class="menu-item">Mis planes de trabajo</a></li>
        <!--<li class="dropdown-footer">Dropdown footer</li> -->
      </ul>
  </li>
{% endblock  %}

