{% extends 'user.html' %}

{% block dropdown %}
	<li class="dropdown">
    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestras opciones<b class="caret"></b></a>
        <!-- Dropdown Menu -->
        <ul class="dropdown-menu">
        <!--<li class="dropdown-header">Our Options</li> -->
        	<li><a href="consulta.html" tabindex="-1" class="menu-item">Consultar base de datos</a></li>
        	<li><a href="#tabla-cobro-por-etapa" tabindex="-1" class="menu-item">Ver tabla de Cobro por etapas</a></li>
			<li><a href="#tutoreados" tabindex="-1" class="menu-item">Mis estudiantes tutoreados</a></li>
			<li><a href="modificarestudiante.html" tabindex="-1" class="menu-item">Modificar datos de estudiante</a></li>
            <!--<li class="dropdown-footer">Dropdown footer</li> -->
        </ul>
    </li>
{% endblock  %}

{% block other_table %}
	<div class="container">
		<div class="block block-border-bottom">
			<a name="tutoreados"></a>
    		<h2 class="block-title">Mis estudiantes tutoreados</h2>
       		<table class="table table-bordered">
          		<thead>
            		<tr>
              			<th>Estudiante</th>
              			<th>Carrera que cursa</th>
			  			<th>A&ntilde;o que cursa</th>
			  			<th>Asignatura que imparte</th>
			  			<th>Carrera en que imparte</th>
			  <th>A&ntilde;o en que imparte</th>
			  <th>Semestre en que imparte</th>
			  <th>Plan de trabajo</th>
            </tr>
          </thead>
          <tbody>
		  	<!--AQUI SE LLENAN LAS FILAS DE LA TABLA, UN <tr> POR CADA NUEVA FILA-->
            <tr>
              <td>A</td>
			  <td>B</td>
			  <td>3ro.</td>
			  <td>C</td>
			  <td>C1</td>
			  <td>1ro.</td>
			  <td>1</td>
			  <td><a href="planesdetrabajo/plandeA.pdf">plan de trabajo de A</a></td>
            </tr>
            <tr class="fila-gris">
              <td>D</td>
			  <td>E</td>
			  <td>4to.</td>
			  <td>F</td>
			  <td>Ff</td>
			  <td>2do.</td>
			  <td>2</td>
			  <td><a href="planesdetrabajo/plandeD.pdf">plan de trabajo de D</a></td>
          </tbody>
        </table>
		</div>
	</div>
{% endblock  %}